/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

main {
  margin: 100px auto;
  padding: 20px;
  border: 1px solid black;
  width: 60%;
  height: 200px;
  display: flex;

  align-items: center;
}
p {
  font-size: 2em;
  font-family: "Indie Flower";
}
